.input {
  width: 90%;
  max-width: 400px;
  border-radius: var(--border-rd);
  border: none;
  font-family: var(--font-f);
  background-color: transparent;
  color: var(--text-light-c);
  outline: none;
  user-select: none;
}

.share {
  width: 200px;
  display: inline-block;
}