.button {
  width: 100%;
  max-width: 200px;
  font-size: 14px;
  border: none;
  padding: 12px;
  margin-top: 10px;
  outline: none;
  user-select: none;
  color: #fff;
  font-family: var(--font-f);
  border-radius: var(--border-rd);
  background: linear-gradient(90deg, var(--primary-c-s1), var(--primary-c-s2));
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,.2);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.2);
  transition: box-shadow 200ms ease-in;
}

.button:disabled {
  opacity: 0.5;
  cursor: none;
  pointer-events: none;
}

.button.gradient {
  background: linear-gradient(-90deg, var(--secondary-c), var(--primary-c-s2));
}

.button.gradient:active,
.button.button.gradient:focus {
  background: var(--secondary-c);
}

.button.cancel {
  margin-bottom: 40px;
  background: var(--error-c);
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,.3);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,.3);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.3);
}
